[Unit]
Description=back up files to s3

[Service]
Type=oneshot
User=<<BACKUP_USER>>
Group=<<BACKUP_USER>>
ExecStart=/usr/local/lib/s3_backup/s3_backup
